1
public class Main {
     public static void main(String[] args) {
        int a = 12678;
        int n1 = a/10000;
        int n2 = (a/1000)%10;
        int n3 = (a/100)%10;
        int n4 = (a/10)%10;
        int n5 = a % 10;

        if (n1 == n5 && n2 == n4){
            System.out.print("true");
    }
else {
    System.out.print("false");
}
     }
    }



2
public class Main {
    public static void main(String[] args) {
       int a = 12678;
       int n1 = a/10000;
       int n2 = (a/1000)%10;
       int n3 = (a/100)%10;
       int n4 = (a/10)%10;
       int n5 = a % 10;
     if (n1 == n2 || n1 == n3 || n1 == n4 || n1 == n5)
     {
        System.out.print("Одинакові");

     }
     else {
        System.out.print("Одинакові цифри відсутні");
     }
    }
}

3
public class Main {
    public static void main(String[] args) {
       int a = 1267;
       int n1 = a/10000;
       int n2 = (a/100)%10;
       int n3 = (a/10)%10;
       int n4 = a % 10;
        if(n1 == n2 && n1 == n3 && n1 == n4 && n4 == n2 && n3 == n4){
            System.out.print("Есть 3 одинаковые цифры")
        }
        else {
            System.out.print("Нет 3 одинаковіх цифр")
        }
    }
}
4


5
public class Main {
    public static void main(String[] args) {
       int a = 1267;
       int n1 = a/10000;
       int n2 = (a/100)%10;
       int n3 = (a/10)%10;
       int n4 = a % 10;
        if(n1 == 3 || n2 == 3 || n3 == 3 || n4 == 3 ){
            System.out.print("false")
        }
        else {
            System.out.print("true")
        }
    }
}
6
public class Main {
    public static void main(String[] args) {
       int a = 3377;
       int n1 = a/10000;
       int n2 = (a/100)%10;
       int n3 = (a/10)%10;
       int n4 = a % 10;
        if(n1 == 3 && n2 == 7 && n3 == 7 && n4 == 7 ){
            System.out.print("false");
        }
        else {
            System.out.print("true");
        }
    }
}
 7
public class Main {
    public static void main(String[] args) {
       int a = 586;
       int n1 = a/100;
       int n2 = (a/10)%10;
       int n3 = a % 10;

         int m1 = n1*n1*n1,
         int m2 = n2*n2*n2,
         int m3 =n3*n3*n3,
       if (a == m1 + m2 + m3) {
           System.out.println("True");
  }
           else System.out.println("False");
}
}
8
public class Main {
    public static void main(String[] args) {
       int a = 3377;
       int n1 = a/10000;
       int n2 = (a/100)%10;
       int n3 = (a/10)%10;
       int n4 = a % 10;
if(n1 == 0|| n2 == 0 || n3 == 0 || n4 == 0){
System.out.ptint("true")
}
else if(a%n1 == 0 && a%n2 == 0 && a%n3 == 0 && a%n4 == 0){
System.out.ptint("true")
}
else {
System.out.ptint(false")
}

9
public class Main {
    public static void main(String[] args) {
       int a = 586;
       int n1 = a/100;
       int n2 = (a/10)%10;
       int n3 = a % 10;
if (n1 <= n1 && n2<=n3){
a = n1 * 10 = n3;
}
else if (n2 < n1 && n2 <=n3){
a = n1 * 10 = n3;
}
else if (n3 < n2 && n3 < n2){
a= n1 * 10 = n2
}
System.out.printIn (a);
}
}
10 
public class Main {
    public static void main(String[] args) {
       int a = 78787;
int b =555
 
int c=a;
a=b;
b=c;
 System.out.printIn (a + "."+b);
]
]
